* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

:root {
  --dk-primary-color: #13274f;
  --lg-primary-color: #ce1141;

  --accent-color: #e7a801;
  --primary-text: #e2e2e2;
  --secondary-text: #757575;

  --icons: #FFFFFF;

}


body {
  background-color: var(--divider);
  min-height: 100vh;
  min-height: 100dvh;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  position: relative;
}

nav {

  z-index: 3;
  width: 100%;
  min-height: 60px;
  background-color: var(--dk-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;


  font-size: 24px;
  font-weight: bold;
}


.nav__hamb-btn,
.nav__prof-btn {
  color: var(--icons);
  flex: 0 0 48px;
  display: block;
}

.nav__title {
  color: var(--primary-text);
  text-transform: uppercase;
  flex: 1;
}

main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  position: relative;
  background-color: var(--lg-primary-color);
}

.main__task-list {
  margin: 0 auto;
  flex: 1;
  width: auto;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: start;

  gap: 16px;

  padding: 16px;
}

.task {
  background-color: var(--dk-primary-color);
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  padding: 8px;

  border-radius: 4px;

  box-shadow: 7px 21px 38px 2px rgba(32, 32, 32, 0.61);
  -webkit-box-shadow: 7px 21px 38px 2px rgba(32, 32, 32, 0.61);
  -moz-box-shadow: 7px 21px 38px 2px rgba(32, 32, 32, 0.61);
}

.task__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 75%;

  color: var(--icons);
}

.task__text small {
  color: var(--secondary-text);
}

.task__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 25%;

}


.main__no-task {
  position: absolute;
  opacity: .4;
  z-index: 0;
  color: var(--secondary-text);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.dialog__task {
  border: none;

  min-height: 480px;
  min-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 24px 16px;
  border-radius: 16px;
}

.dialog__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-text);
  flex: 0 0 auto;
}

.dialog__header h2 {
  flex: 1 0 auto;
  text-align: start;
}


.dialog__form {
  flex: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 8px;

  padding: 8px;


}

.dialog__form * {
  width: 100%;
}

.dialog__form label {
  color: var(--secondary-text);
  display: block;
}

.form__text {
  /* color: var(--secondary-text); */
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__text input {
  /* color: var(--secondary-text); */
  border-radius: 4px;
  line-height: 48px;
  font-size: 24px;
  border: 1px solid #2f2f2f;
  outline: none;
}

/* .form__text * {
  width: 100%;
} */

.form__select {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__select select {
  height: 32px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--primary-text);
}

.form__text-area {
  color: var(--secondary-text);
  border-radius: 4px;
  flex-grow: 1;
}

.form__text-area textarea {
  resize: none;
  width: 100%;
  outline: none;

}

.form__prioridad {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.prioridad__checkers {
  display: flex;
  justify-content: start;
  gap: 16px;
}

.custom_check {
  flex: 0 0 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_check input {
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  cursor: pointer;
  display: block;
  height: 24px;
  width: 16px;
}



.form__prioridad * {
  border: none;
  outline: none;

}

.form__buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  gap: 8px;
}

.form__buttons * {
  flex: 0 0 60px;
}



.boton {
  background-color: var(--accent-color) !important;
  color: var(--icons) !important;
  border: 1px solid transparent;
  font-size: 16px;

}

.boton:hover,
.boton:active {
  box-shadow: 1px 1px 20px #2f2f2f;
}


.btn--add {
  position: fixed;

  height: 60px;
  width: 60px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2px;

  bottom: 16px;
  right: 16px;
}

.btn--add i {
  display: block;
  font-size: 32px;
}

.btn--close {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--divider);
}

.rounder {
  border-radius: 50% !important;
}

.round-sm {
  border-radius: 4px;
  padding: 8px;
}

.bg--grey {
  background-color: grey;
}

.bg--green {
  background-color: green;
}

.bg--orange {
  background-color: orange;
}

.bg--red {
  background-color: red;
}